.nav-item::after {
     content: '';
     display: block;
     width: 0px;
     height: 2px;
     background: #fec400;
     transition: 0.4s
 }

 .nav-item:hover::after {
     width: 100%
 }

 .active>.nav-link,
 .nav-link.active,
 .nav-link.show,
 .show>.nav-link,
 .nav-link:focus,
 .nav-link:hover {
     color: #fec400
 }

 .nav-link {
     padding: 10px 5px;
     transition: 0.2s
 }

