<!DOCTYPE html>
<html lang="en">
<head>
    <link href=@'https://fonts.googleapis.com/css?family=Eczar' rel='stylesheet'>
    <link href=@'https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
    <meta charset="UTF-8">
    <title>About page</title>
</head>
<body>
{% if headline %}
     <h2>{{ headline }} </h2>
{% endif %}

<p>
    {# hardcoded url#}
    <a href="/CRMS">Main page</a> using hardcoded url
</p>

<p>
    <a href="{% url 'CRMS:index' %}">Main page </a> using url namespace
</p>

</body>
</html>