{% extends 'CRMS/base.html' %}

{% block title %} Courses {% endblock %}
{% block body_block %}
    {% if courseList %}
        <h2>List of Courses</h2>
        <ol>
            {% for course in courseList %}
                <li> <a href ="{%  url 'CRMS:coursedetail' course.id %}"> {{ course.name}} </a></li>
            {% endfor %}
        </ol>
    {% else %}
        <strong>There are no available courses!</strong>
    {% endif %}
    <p><a href="{% url 'CRMS:place_order' %}">Place your Order</a></p>
{% endblock %}


