<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
 Course Name: {{ course.name }}<br>
 Number of Interested People: {{ course.interested }}<br>
 Course Price: {{ course.price }}<br>
 {{ msg }}

<br>
    <p><b>Please fill out the course interest details:</b></p>
    <form method="post"> {% csrf_token %}
        {% for fields in form %}
    <table>
        <tr>
            <td><b>{{ fields.label }}</b></td>
            <td></td>
            <td>{{ fields }}</td>
        </tr>
    </table>
        {% endfor %}
    <input type="submit" value="Submit">
    </form>
</body>
</html>