{% extends 'CRMS/base.html' %}
{% block title %}eLearning - APP About page{% endblock %}
{% block heading_para %}
    <p class="lead text-muted">The details of the course:</p>
{% endblock %}
{% block body_block %}
    {% if topic %}
        <h2>{{ topic.name.upper }} </h2>
        <p>
            <b>Length: </b> {{ topic.length }}
        </p>
        <div class="text-start">
        <p>
            <b>List of Courses: </b>
            {% if courses %}
                <table class="table" id="courselist">
                <thead class="thead-dark">
                    <th>Course Name</th>
                    <th>Category</th>
                    <th>Length</th>
                    <th>Price</th>
                </thead>
                <tbody>
                    {% for course in courses %}
                        <tr>
                            <td>{{ course.title }}</td>
                            <td>{{ course.topic }}</td>
                            <td>{{ course.topic.length }}</td>
                            <td>{{ course.price }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
                </table>
            {% else %}
                <strong>There are no courses for this topic!</strong>
            {% endif %}
        </p>
        </div>
    {% endif %}
{% endblock %}