{% extends 'CRMS/base.html' %}
{#{% block myhdg %}Hello {{ request.session.username }} {% endblock %}#}
{% block heading_para %}
    <p class="lead text-muted">Welcome to the E-learning website created using Django, here you will find all kind of courses needed to increase your expertise.</p>
{% endblock %}
{% block body_block %}
    {% if message %}
        <!-- Info Alert -->
        <div class="alert alert-info alert-dismissible fade show">
            <strong>Info!</strong> {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        </div>
    {% endif %}
    {% if top_list %}
        <h2>List of Topics</h2>


            <div class="row d-flex justify-content-center">
            {% for top in top_list %}

                    <div class="card text-center m-3" style="max-width: 20rem">
                      <div class="card-body">
                        <h5 class="card-title">{{ top.name }}</h5>
                        <p class="card-text"> {{ top.details }}</p>
                        <a href="{% url 'CRMS:detail' top.id %}" class="btn btn-primary">Select</a>
                      </div>
                    </div>

            {% endfor %}
            </div>
    {% else %}
        <strong>There are no available topics!</strong>
    {% endif %}

{#    <p>#}
        {# changing hardcoded url#}
{#        <a href="{% url 'myapp:about' %}">About page</a>#}
{#    </p>#}

{% endblock %}