<!DOCTYPE html>
<html>
<head lang="en">
    <link href=@'https://fonts.googleapis.com/css?family=Eczar' rel='stylesheet'>
    <link href=@'https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
    <meta charset="UTF-8" >
    <title>E-Learning WebApp!</title>
</head>
<body>
 {% if top_list %}
     <h2>List of Topics</h2>
     <ol>
        {% for top in top_list %}
            <li> {{ top.name }} : <a href="{% url 'CRMS:detail' top.id %}"> Details</a> </li>
        {% endfor %}
     </ol>
 {% else %}
    <strong>There are no available topics!</strong>
 {% endif %}

<p>
{# changing hardcoded url#}
    <a href="{% url 'CRMS:about' %}">About page</a>
</p>

</body>